
<div class="ui inverted header sec3-h" >
Follow Up History #{{enquiry.id}}</div>
<div class="sec3-con" >


  <table class="ui celled  table" >
  <thead>
    <tr>
    <th>ID</th>
    <th>Client Message</th>
    <th>Remarks</th>
    <th>Date</th>
  </tr></thead>
  <tbody>
    {{#if enquiry.followups}}
    {{#each enquiry.followups as |followup|}}
    <tr>
      <td>{{followup.id}}</td>
      <td>{{followup.message}}</td>
      <td>{{followup.remarks}}</td>
      <td>{{moment-format followup.date inputFormat}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td></td>
      <td style="text-align:center">No Followups Yet</td>
      <td></td>
    </tr>

    {{/if}}

  </tbody>

</table>

</div>
