

<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >
  {{#link-to 'dashboard.enquiry-forms' }}
  <div class="item">
    <img src="images/bk2.png" alt="" />
  </div>
  {{/link-to}}
  <div class="ui header item">
  Follow Up  History #{{enquiry.id}}
</div>
</div>
<div class="sec3-con" >


  <table class="ui celled  table" >
  <thead>
    <tr>
    <th>ID</th>
    <th>Client Message</th>
    <th>Remarks</th>
    <th>Date</th>
  </tr></thead>
  <tbody>
    {{#if enquiry.followups}}
    {{#each enquiry.followups as |followup index|}}
    <tr>
      <td>{{incrementone index}}</td>
      <td>{{followup.message}}</td>
      <td>{{followup.remarks}}</td>
      <td>{{moment-format followup.date inputFormat}}</td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td></td>
      <td style="text-align:center">No Followups Yet</td>
      <td></td>
    </tr>

    {{/if}}

  </tbody>

</table>

</div>
