

<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >
  {{#link-to 'dashboard.sales' }}
  <div class="item">
    <img src="images/bk2.png" alt="" />
  </div>
  {{/link-to}}
  <div class="ui header item">
  Update Sale ID :#{{sale.id}}
</div>
</div>

<div class="ui inverted  form sec3-con grid">
  <div class="eight wide column">
<div class="ui dividing inverted header">Customer Info</div>


<div class="customerview">
    <div class="inline field ">
      <label class="viewlabel1">Name</label>:
      <label class="viewlabel2">{{sale.customer.name}}</label>


    </div>
    <div class="inline field">
      <label class="viewlabel1">Address</label>:
      <label class="viewlabel2">{{sale.customer.address}}</label>
    </div>
        <div class="inline field">
          <label class="viewlabel1">Contact</label>:
          <label class="viewlabel2">{{sale.customer.contact}}</label>

        </div>
          <div class="inline field">
            <label class="viewlabel1">Email</label>:
            <label class="viewlabel2">{{sale.customer.email}}</label>
          </div>
        <button class="ui primary mini button" {{action "editCustomer"}} >Edit</button>
      </div>




        <div class="ui  form customerview customeredit" style="display:none">
          <div class="inline field">
            <label class="viewlabel1"> Name</label>:
              {{input type="text" placeholder="Name" value=sale.customer.name}}
              </div>
              <div class="inline field">
              <label class="viewlabel1">Address </label>:
              {{input type="text" placeholder="Address" value=sale.customer.address}}
            </div>
          <div class="inline field">
            <label class="viewlabel1"> Contact</label>:
              {{input type="text" placeholder="Contact" value=sale.customer.contact}}
              </div>
              <div class="inline field">
              <label class="viewlabel1">Email </label>:
              {{input type="text" placeholder="Email" value=sale.customer.email}}
            </div>

            <button class="ui primary mini button" {{action "saveCustomer"}} >Save</button>
        </div>


</div>





{{#if (eq sale.status 'Incomplete')}}


<div class="eight wide column ">
  <div class="ui dividing inverted header">Sales Info </div>
  <div class="seg1">
<div class="ui right aligned inverted dividing tiny header">Total Price</div>
<div class="ui right aligned inverted  bigc header">Rs. {{sale.totalprice}} /-</div>
</div>
<div class="seg12">
<div class="ui right aligned inverted dividing tiny header">Down Payment</div>
<div class="ui right aligned inverted  bigc header">Rs.{{sale.downpayment}} /-</div>
</div>

  <div class="seg2">
  <div class="ui right aligned inverted dividing tiny header">Total Amount Paid</div>
  <div class="ui right aligned inverted  bigc header">Rs. {{sale.paidtillnowWithDownpayment}} /-</div>
  </div>
  <div class="seg3">
  <div class="ui right aligned inverted dividing tiny header">Balance Amount</div>
  <div class="ui right aligned inverted  bigc header">Rs. {{sale.balanceamount}} /-</div>
  </div>
  <div class="clearfix"></div>
<div class="seg4">
<div class="ui right aligned inverted dividing tiny header">Number of Installments</div>
<div class="ui right aligned inverted  bigc header"> {{sale.months}} </div>
</div>
<!-- <div class="seg5">
<div class="ui right aligned inverted dividing tiny header">Amount Per Month</div>
<div class="ui right aligned inverted  bigc header"> {{sale.permonth}} </div>
</div> -->
  <button class="ui primary mini button {{ismarkCompletedButtonActive}}" {{action "markCompleted"}} >Mark as Completed</button>


      <!-- <div class="ui blue small submit button {{isupdateSaleButtonEnabled}}"   {{action "updateSale"}}>Save</div> -->



</div>

{{/if}}





{{#if (eq sale.status 'Completed')}}
<div class="eight wide column ">
  <div class="ui dividing inverted header">Sales Info </div>
  <div class="seg4">
  <div class="ui right aligned inverted dividing tiny header">Total Price</div>
  <div class="ui right aligned inverted  bigc header">  {{sale.totalprice}} </div>
  </div>
  <div class="seg1">
<div class="ui right aligned inverted dividing tiny header">Total Installment Amount Paid</div>
<div class="ui right aligned inverted  bigc header">Rs. {{sale.paidtillnowWithDownpayment}} /-</div>
</div>
<div class="seg12">
<div class="ui right aligned inverted dividing tiny header">Down Payment</div>
<div class="ui right aligned inverted  bigc header">Rs.{{sale.downpayment}} /-</div>
</div>

  <div class="seg2">
  <div class="ui right aligned inverted dividing tiny header">Started Date</div>
  <div class="ui right aligned inverted  bigc header"> {{sale.installments.firstObject.date}}  </div>
  </div>
  <div class="seg3">
  <div class="ui right aligned inverted dividing tiny header">Closed Date </div>
  <div class="ui right aligned inverted  bigc header"> {{sale.installments.lastObject.date}} </div>
  </div>
  <div class="clearfix"></div>
</div>


{{/if}}

</div>
<div class="clearfix"></div>

{{#if (eq sale.status 'Incomplete')}}
<div class="ui inverted small form sec3-con-b ">
  <div class="ui inverted dividing header">New Installment</div>
  <div class="ui grid">
<div class="six wide column ">
  <div class="field">
    <label>Date</label>
    {{pikaday-input  placeholder="Select Date" value=installmentdate}}
  </div>
</div>

<div class="six wide column ">
  <div class="field">
    <label>Installment Amount  </label>
    {{input placeholder=""  type="text" value=sale.installpricepermonth readonly="true"}}
  </div>
</div>
<div class="right aligned four wide column ">
  <div class="ui  field">
    <div class="ui submit tiny primary button {{isPayButtonEnabled}}" style="margin-top:22px" {{action "newInstallment"}}>Pay </div>
  </div>
</div>
</div>

<div class="ui  divider"></div>
</div>
{{/if}}

<div class="sec3-con-b" >
  <div class="ui inverted left floated  header"> Installment History</div>
  <div class="ui tiny right floated primary button" {{action "printPage"}}>Print</div>
  <table class="ui celled structured table">
  <thead>
    <tr>
    <th>Sl.No</th>
    <th>Date</th>
    <th>Amount </th>
   </tr></thead>
  <tbody>
    {{#each sale.installments as |installment index|}}
    <tr>
      <td>{{incrementone index}}</td>
      <td>{{installment.date}}</td>
      <td>{{{installment.amount}}} </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
