<div class="ui black segment" >
  <div class="ui left floated header">  Pending Enquiries  </div>


  <table class="ui celled table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Follow Up</th>
    <th>View</th>
    <th></th>
   </tr></thead>
  <tbody>
    {{#each pendingEnquiries as |enquiry|}}
    <tr>
      <td>{{enquiry.id}}</td>
      <td>{{enquiry.name}}</td>
      <td>{{enquiry.status}}</td>
      <td>{{moment-from-now enquiry.followupdate }}</td>
      <td>{{link-to "View"  'dashboard.enquiry-forms.enquiry-form.view'  enquiry }}</td>
      <td>{{link-to "Edit"  'dashboard.enquiry-forms.enquiry-form.edit'  enquiry }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
