<div class="ui inverted header sec3-h" >Pending Enquiries</div>

<div class="ui  sec3-con" >


  <table class="ui celled structured table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Follow Up</th>
    <th>View</th>
    <th></th>
   </tr></thead>
  <tbody>
    {{#each enquiries as |enquiry|}}
    <tr>
      <td>{{enquiry.id}}</td>
      <td>{{enquiry.name}}</td>
      <td>{{enquiry.status}}</td>
      <td>{{moment-from-now enquiry.followupdate }}</td>
      <td>{{link-to "View"  'dashboard.enquiry-forms.enquiry-form.view'  enquiry }}</td>
      <td>{{link-to "Edit"  'dashboard.enquiry-forms.enquiry-form.edit'  enquiry }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
