<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >

  <div class="ui header item">
  Pending Enquiries
</div>
<div class="right menu">
{{#link-to 'dashboard.enquiry-forms.new' class="ui item" }}
<i class=" plus  icon"></i>
    Add New Enquiry
{{/link-to}}
</div>
</div>

<div class="ui  sec3-con" >


  <table class="ui celled structured table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Follow Up</th>
    <th>View</th>
    <th></th>
   </tr></thead>
  <tbody>
    {{#each pendingEnquiries as |enquiry index|}}
    <tr>
      <td>{{incrementone index}}</td>
      <td>{{enquiry.name}}</td>
      <td>{{enquiry.status}}</td>
      <td>{{moment-from-now enquiry.followupdate }}</td>
      <td>{{link-to "View"  'dashboard.enquiry-forms.enquiry-form.view'  enquiry }}</td>
      <td>{{link-to "Edit"  'dashboard.enquiry-forms.enquiry-form.edit'  enquiry }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
