<div class="ui inverted header sec3-h" >
  Add New Enquiry
</div>

<div class="ui inverted small form sec3-con">
  <div class=" two fields">
    <div class="field {{validItemcodeError}}">
      <label>Name</label>
      {{input placeholder="Name"  type="text"   value=name}}
    </div>

    <div class="field">
      <label>Address</label>
      {{input placeholder="Address"  type="text" value=address}}
    </div>

  </div>
  <div class="two fields">

      <div class="field">
        <label> Attended By</label>
        <div class="ui grid">
          <div class="eleven wide column ">
            {{ember-selectize
              content=employees
              optionValuePath="content.id"
              optionLabelPath="content.name"
              selection=employeename
              placeholder="Select Attended By" }}
            </div>
            <div class="five wide column ">
      </div>
    </div>
        </div>
      </div>

      <div class="two fields">
          <div class="field">
            <label>Initial Stock</label>
            {{input placeholder="Initial Stock" type="number" value=initialstocklevel}}
          </div>
          <div class="field">
            <label>Buy Price</label>
            {{input placeholder="Buy Price" type="number" value=buyprice }}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Initial Cost Price</label>
            {{input placeholder="Initial Cost Price" type="number" value=initialcostprice}}
          </div>
          <div class="field">
            <label>Retail Price</label>
            {{input placeholder="Retails Price"    type="number" value=retailprice}}
          </div>
        </div>

        <div class="two fields">


        </div>
        <div class="ui blue small submit button {{isCreateProductButtonDisabled}}"   {{action "createProduct"}}>Save</div>


      </div>
