
<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >
  <div class="ui header item">
  Sales
</div>
  <div class="item">
    {{link-to 'New Sales' 'dashboard.sales.new'  class="ui item"}}
  </div>

</div>
<div class="sec3-con" >
  <div class="ui  top  attached tabular menu">
    <a class="item active" data-tab="first">Sales Pending</a>
    <a class="item" data-tab="second">Sales History</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
    <table class="ui structured celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total</th>
          <th>Paid Till Now</th>
          <th class="right aligned">Update</th>
        </tr>
      </thead>
      <tbody>
        {{#each salesPending as |sale index|}}
        <tr>
          <td>{{sale.customer.name}}</td>
          <td>{{sale.totalprice}}</td>
          <td>111</td>
          <td class="right aligned"> {{#link-to 'dashboard.sales.salehistory.view' sale }}Update{{/link-to}}</td>
        </tr>
        {{/each}}

      </tbody>
    </table>  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
    <table class="ui structured celled table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total</th>
          <th>Paid Till Now</th>
          <th class="right aligned">View</th>
        </tr>
      </thead>
      <tbody>
        {{#each salesHistory as |sale index|}}
        <tr>
          <td>{{sale.customers.name}}</td>
          <td>{{sale.totalprice}}</td>
          <td>444</td>
          <td class="right aligned"> {{#link-to 'dashboard.sales.salehistory.view' sale }}View{{/link-to}}</td>
        </tr>
        {{/each}}

      </tbody>
    </table>  </div>

</div>
{{initialize-semanticuitabs}}
{{outlet}}
