

<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >
  {{#link-to 'dashboard.sales' }}
  <div class="item">
    <img src="images/bk2.png" alt="" />
  </div>
  {{/link-to}}
  <div class="ui header item">
  New Sale
</div>
</div>


<div class="ui inverted small form sec3-con grid">

  <div class="eight wide column">
    <div class="ui dividing inverted header">Customer </div>


{{#if (eq enableEnquiryCustomer true)}}
    <div class="field">
      <label> Select Customer From Enquiry </label>
      <div class="ui grid">
        <div class="twelve wide column ">
          {{ember-selectize
            content=enquiries
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=enquirycustomer
            placeholder="Select Enquiry Customer"
            class="ui left floated"
          }}
        </div>
      </div>
    </div>
{{/if}}




{{#if (eq enableEnquiryCustomer false)}}
<div class="ui blue small submit button {{isCreateEnquiryButtonDisabled}}"   {{action "enableEnquiryCustomer"}}>Select From Enquiry Customer</div>
{{/if}}
<div class="ui horizontal inverted divider">Or</div>
{{#if (eq enableCustomer true)}}
    <div class="field">
      <label> Select Default Customers </label>
      <div class="ui grid">
        <div class="twelve wide column ">
          {{ember-selectize
            content=customers
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=defaultcustomer
            placeholder="Select Customer"
            class="ui left floated"
          }}
        </div>
      </div>
    </div>
{{/if}}
{{#if (eq enableCustomer false)}}
<div class="ui blue small submit button {{isCreateEnquiryButtonDisabled}}"   {{action "enableCustomer"}}>Select From Customers</div>
{{/if}}

<div class="ui horizontal inverted divider">Or</div>
{{#if (eq enableNewCustomer false)}}
<div class="ui blue small submit button {{isCreateEnquiryButtonDisabled}}"   {{action "enableNewCustomer"}}>New Customer</div>
{{/if}}
{{#if (eq enableNewCustomer true)}}
<div>
<div class="ui dividing inverted header">Add New Customer </div>

    <div class="field {{validItemcodeError}}">
      <label>Name</label>
      {{input placeholder="Name"  type="text"   value=newcustomername}}
    </div>
    <div class="field">
      <label>Address</label>
      {{input placeholder="Address"  type="text" value=newcustomeraddress}}
    </div>

      <div class="two fields">
          <div class="field">
            <label>Contact</label>
            {{input placeholder="Contact" type="text" value=newcustomercontact}}
          </div>
          <div class="field">
            <label>Email</label>
            {{input placeholder="Email" type="email" value=newcustomeremail }}
          </div>
        </div>

      </div>
      {{/if}}

</div>
<div class="eight wide column">
  <div class="ui dividing inverted header">Sales Info </div>

  <div class="field ">
    <label>Total Price</label>
    {{input placeholder="Total Price"  type="text"   value=totalprice}}
  </div>
  <div class="field">
    <label>Installments / Month</label>
    {{input placeholder="Installments / Month"  type="text" value=installpricepermonth}}
  </div>
  <div class="field ">
        <label>Number of Installments</label>
        {{input placeholder="Number of Installments"  type="text"   value=months}}
      </div>
      <div class="ui blue small submit button {{iscreateSaleButtonEnabled}}"   {{action "createSale"}}>Create</div>

</div>
</div>
