

<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >

  <div class="ui header item">
  Customers
</div>
<div class="right menu">
{{#link-to 'dashboard.customers.new' class="ui item" }}
<i class=" plus  icon"></i>
    Add New Customer
{{/link-to}}
</div>
</div>
<div class="sec3-con" >
  <table class="ui celled structured table">
  <thead>
    <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Email</th>
    <th>View</th>
   </tr></thead>
  <tbody>
    {{#each customers as |customer index|}}
    <tr>
      <td>{{incrementone index}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.contact}}</td>
      <td>{{customer.email}}</td>
      <td>{{link-to "View"  'dashboard.customers.customer.view'  customer }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{outlet}}
