
<div class="ui inverted menu sec3-h" style="padding:0px 0px 0px 0px !important; " >
  {{#link-to 'dashboard.customers' }}
  <div class="item">
    <img src="images/bk2.png" alt="" />
  </div>
  {{/link-to}}
  <div class="ui header item">
 Customer ID: #{{customer.id}}
</div>
</div>
<div class="ui inverted small form sec3-con grid">
  <div class="eight wide column">

      <div class="inline field  {{validItemcodeError}}">
        <label class="viewlabel1">Name</label>:
        <label class="viewlabel2">{{customer.name}}</label>
      </div>
      <div class="inline field">
        <label class="viewlabel1">Address</label>:
        <label class="viewlabel2">{{customer.address}}</label>
      </div>

            <div class="inline field">
              <label class="viewlabel1">Contact</label>:
              <label class="viewlabel2">{{customer.contact}}</label>
            </div>
            <div class="inline field">
              <label class="viewlabel1">Email</label>:
              <label class="viewlabel2">{{customer.email}}</label>
            </div>
          {{link-to 'Edit' 'dashboard.customers.customer.edit'  class="ui blue inverted mini right floated button "}}


  </div>

</div>
{{outlet}}
